.logo-container{
    z-index:0;
    width:470px;
    height:650px;
    position:absolute;
    top:20px;
    right:15%;
    bottom:0;
    left:auto;
    margin:auto;
    margin-top:30px;
    //overflow:visible

svg{
    width:100%;
    height:100%;
    bottom:0;
    transform: rotateZ(30deg) !important;

}

 .solid-logo{
    position:absolute;
    top:auto;
    right:auto;
   bottom:auto;
   left:0;
     margin:auto;
     width: 100%;
     opacity:0;
     transform:rotateZ(30deg);
    z-index:1;
 }
}
.svg-container{
    width:50px;
    height:40px;
     path{
    stroke:#90A7C5;
    stroke-width:2;
    fill:transparent;
}}